build-web/
tests/test_project/.hades/policies/**
tests/test_project/.hades/script-host/**
docs/generated/*
build/**
.cache/**
imgui.ini
.vscode/**
.DS_Store
CMakeFiles/**
**/CMakeFiles/**
CMakeCache.txt
site/**
__pycache__/**
**/__pycache__/**
build-test/**
